body {
  min-width: 360px;
}
#tabInformation{
  font-weight: bold;
}

.rating{
  font-weight: bold;
}

.red{
  color: red;
}

.green{
  color: green;
}

.yellow{
  color: yellow;
}

.orange{
  color: orange;
}

.burgundy{
  color: brown;
}

.gray{
  color: gray;
}

.name{
  font-weight: bold; 
  font-size: 25px;
}

.tosdrLabel{
  font-weight: bold;
}

@media screen and (max-width: 360px) {
  body {
    width: 100%;
  }
}
